<h1 style="float: left; width: 100%; text-align: center;">Cours</h1>

<div style="list-style: none; margin-left: 20%; float: left; width: 100px; background-color: #54BCF4"; text-align: center;><li><%= link_to "Leçons", 'lecons' %></li></div>

