
<h1 style="text-align: center;"> <%= @article.title %> </h1>

<p style="text-align: center;"> <%= @article.text %> </p>

<h3 style="text-align: center;"><%= link_to("Editer l'article", edit_article_path) %><h3>

<h3 style="text-align: center;"><%= link_to("Retour aux articles", articles_path) %><h3>
